*octave-core
*~
*.out
*.swp
*.zip
*.tar.gz
pb1
pb2
pb3
pb4
pb5
pb6
/an2/sem1/poo/lab1/nbproject/private/
/an2/sem1/poo/lab1/build/
/an2/sem1/lab2/nbproject/private/
/an2/sem1/lab2/build/
/an2/sem1/poo/lab03/nbproject/private/
/an2/sem1/poo/lab03/build/
/an2/sem1/lab04/nbproject/private/
/an2/sem1/lab04/build/
/an2/sem1/poo/lab05/nbproject/private/
/an2/sem1/poo/lab05/build/
/year2/poo/lab06/nbproject/private/
/year2/poo/lab06/build/
/year2/poo/lab07/nbproject/private/
/year2/poo/lab07/build/
*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
