*octave-core
*~
*.out
*.swp
*.zip
*.tar.gz
pb1
pb2
pb3
pb4
pb5
pb6
/an2/sem1/poo/lab1/nbproject/private/
/an2/sem1/poo/lab1/build/
/an2/sem1/lab2/nbproject/private/
/an2/sem1/lab2/build/
/an2/sem1/poo/lab03/nbproject/private/
/an2/sem1/poo/lab03/build/